*{
    margin:0;
    padding: 0;

}

nav{
    width: 100vw;
    height: 100vh;
    display: flex;
      align-items: center;
      justify-content: center;
      background:black;
    

}

.nav-left{
    width: 80%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{

    width: 100%px;
    height: 100%;
    
}


